.pagination{
    text-align: center;
    margin-bottom: 40px;
}

.pagination button {
    border: 1px solid black;
    padding: 4px;
    margin: 2px;
    border-radius: 5px;
}


.pagination .selected {
    background-color: rgb(64, 64, 242);
    color: white;
}